@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter);

  --color-theme-page: var(--theme-page);
  --color-theme-card: var(--theme-card);
  --color-theme-main: var(--theme-main);
  --color-theme-muted: var(--theme-muted);
  --color-theme-border: var(--theme-border);

  --background-image-gradient-primary: linear-gradient(to bottom right, var(--color-blue-400), var(--color-purple-600));
}

:root {
  --theme-page: #f8fafc;
  --theme-card: #ffffff;
  --theme-main: #0f172a;
  --theme-muted: #475569;
  --theme-border: #e2e8f0;
}

.dark {
  --theme-page: #020617;
  --theme-card: #0f172a;
  --theme-main: #f1f5f9;
  --theme-muted: #94a3b8;
  --theme-border: rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--theme-page);
  color: var(--theme-main);
  font-family: var(--font-inter), sans-serif;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}